#root {
    font-family: 'Kanit';
}

.user {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    background-color: rgb(46, 46, 46);
    position: absolute;
    top: 9rem;
    left: 3rem;
    right: 3rem;
    border-radius: 1.5rem;
    justify-content: space-between;
}

.user-img {
    width: 7.1875rem;
    height: 7.1875rem;
    border-radius: 50%;
    object-fit: cover;
}

.user-name {
    font-size: 3.5rem;
    color: white;
    margin-left: 1rem;
    flex: 1;
    text-align: left;
}

.favorite-artists {
    color: white;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    position: absolute;
    top: 30rem;
    left: 3rem;
    right: 3rem;
}

.artists-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    /* Evita que los elementos se muevan a otra fila */
    overflow: hidden;
    /* Oculta los elementos que no caben en la pantalla */
    padding: 2rem;
    position: absolute;
    top: 35rem;
    left: 3rem;
    right: 3rem;
    gap: 1rem;
    border-radius: 1.5rem;
    background-color: rgb(46, 46, 46);
}

.artist {
    flex: 1 0 auto;
    /* Mantiene el tamaño de los elementos */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.5rem;
    /* Agrega un pequeño margen entre los artistas */
}

.artist-img {
    height: 9.375rem;
    width: 9.375rem;
    border-radius: 50%;
    transition: filter 0.3s ease;
    border: solid white 3px;
}

.artist-img:hover {
    filter: brightness(0.5);
}

.artist-name {
    color: white;
    font-size: 2rem;
    margin-top: 0.5rem;
}